*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div{
    width: 200px;
    height: 300px;
    border: 1px solid black;
    padding: 10px 10px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 10px 10px 3px rgb(230, 225, 225);
}
h1,p{
    padding-left: 10px;
}